body {
  font-family: Arial, sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.title {
  color: gray;
}

.selectors {
  gap: 15px;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.information {
  min-width: 100px;
  gap: 50px;
}

.invisible {
  visibility: hidden;
}

#closing-chart {
  max-height: 800px;
}

#limits-container {
  justify-content: space-around;
  gap: 20px;
}
