body {
  font-family: Arial, sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.title {
  color: gray;
}

.selectors {
  margin-bottom: 10px;
  gap: 15px;
}

.information {
  min-width: 100px;
  gap: 50px;
}

.invisible {
  visibility: hidden;
}

#closing-chart {
  max-height: 800px;
}
