<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    /> -->
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Hello World!</title>
  </head>
  <body>
    <div class="container selectors">
      <select id="platforms"></select>

      <select id="cryptos"></select>
    </div>

    <div id="info-container" class="container information">
      <div id="last-price"></div>

      <div id="change-price">
        <div class="title">24h Cambio</div>
        <div id="change-price-value"></div>
      </div>

      <div id="max-price">
        <div class="title">24 Maximo</div>
        <div id="max-price-value"></div>
      </div>

      <div id="min-price">
        <div class="title">24 Minimo</div>
        <div id="min-price-value"></div>
      </div>
    </div>
  </body>
</html>
