<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    /> -->
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Hello World!</title>
  </head>
  <body>
    <div class="flex selectors">
      <select id="platforms"></select>

      <select id="cryptos"></select>
    </div>

    <div name="info-container" class="flex information invisible">
      <div id="last-price"></div>

      <div id="change-price">
        <div class="title">24h Cambio</div>
        <div id="change-price-value"></div>
      </div>

      <div id="max-price">
        <div class="title">24 Maximo</div>
        <div id="max-price-value"></div>
      </div>

      <div id="min-price">
        <div class="title">24 Minimo</div>
        <div id="min-price-value"></div>
      </div>
    </div>

    <div id="timeframes-container" class="invisible">
      <select id="timeframes">
        <option value="1">Minuto</option>
        <option value="60">Hora</option>
        <option value="1440">Dia</option>
      </select>
      <canvas id="closing-chart"></canvas>
    </div>

    <div name="limits-container" class="invisible">
      <input type="number" name="low-limit" id="low-limit" />
      <input type="number" name="max-limit" id="max-limit" />
    </div>
  </body>
</html>
