<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    /> -->
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Hello World!</title>
  </head>
  <body>
    <select id="platforms"></select>
    <select id="cryptos"></select>
    <div id="info-container" hidden>
      <h2 id="actual-price" class="actual-price">0.0</h2>
    </div>
  </body>
</html>
